{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrations Closed</title>
    <link rel="stylesheet" href="{%static 'css/close.css'%}">
</head>
<body>
    <div class="parent">
        <div class="header">
            <p class="src">Student Research Council</p>
            <p class="mainh">TechnoFete'23</p>
            <p class="fest">Intra college Technical Fest</p>
        </div>
        <div class="img">
            <img src="{%static 'images/vec.svg'%}" alt="lkj">
        </div>
        <div class="content">
            <p class="rgs">Registrations Closed</p>
            <p class="rgdesc">We are overwhelmed by the incredible response to our event. 
                Registration is now closed, but we can't wait to welcome you to future events!
            </p>
            <p class="srctq">Student Research Council <br>Thanks You!</p>
        </div>
        <div class="backdrop">
            <div class="ellipse"></div>
        </div>
    </div>
</body>
</html>