{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technofete'23 || Home</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Judson&family=Krona+One&family=Montez&family=Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
	<script src="https://unpkg.com/animejs@2.2.0/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
			<div class="header-shape header-shape-1">
				<svg width="337" height="222" viewBox="0 0 337 222" xmlns="http://www.w3.org/2000/svg">
				    <defs>
				        <linearGradient x1="50%" y1="55.434%" x2="50%" y2="0%" id="header-shape-1">
				            <stop stop-color="#E0E1FE" stop-opacity="0" offset="0%"/>
				            <stop stop-color="#E0E1FE" offset="100%"/>
				        </linearGradient>
				    </defs>
				    <path d="M1103.21 0H1440v400h-400c145.927-118.557 166.997-251.89 63.21-400z" transform="translate(-1103)" fill="url(#header-shape-1)" fill-rule="evenodd"/>
				</svg>
			</div>
			<div class="header-shape header-shape-2">
				<svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="overflow:visible">
				    <defs>
				        <linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%" id="header-shape-2">
				            <stop stop-color="#FF3058" offset="0%"/>
				            <stop stop-color="#FF6381" offset="100%"/>
				        </linearGradient>
				    </defs>
				    <circle class="anime-element fadeup-animation" cx="64" cy="64" r="64" fill="url(#header-shape-2)" fill-rule="evenodd"/>
				</svg>
			</div>
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
							<div class="logo-wrap">
							<p style="color: #4950f6;">TechnoFete'23</p>
							</div>
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0"><span style="color: black;">TechnoFete'23</span> Technical Symposium</h1>
	                        <p class="hero-paragraph">TechnoFete'23 is a Intra-College Technical Symposium organized in MCET.</p>
							<div class="hero-form field field-grouped">
								<div class="control">
									<p> Scroll Down to Register</p>
								</div>
							</div>
						</div>
						<div class="hero-illustration">
							<div class="hero-shape hero-shape-1">
								<svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" style="overflow:visible">
									<circle class="anime-element fadeup-animation" cx="20" cy="20" r="20" fill="#FFD8CD" fill-rule="evenodd"/>
								</svg>
							</div>
							<div class="hero-shape hero-shape-2">
								<svg width="88" height="88" xmlns="http://www.w3.org/2000/svg" style="overflow:visible">
								    <circle class="anime-element fadeup-animation" cx="44" cy="44" r="44" fill="#FFD2DA" fill-rule="evenodd"/>
								</svg>
							</div>
					
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Events</h2>
                                <p class="section-paragraph">Click the boxes to register</p>
                            </div>
                        </div>
						<div class="features-wrap">
							<a href="/project">
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" style="background:#FFD2DA;">
										<svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
										    <g fill="none" fill-rule="nonzero">
										        <path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z" fill="#FF6381"/>
										        <path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="#FF97AA"/>
										    </g>
										</svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile mb-8">Project Presentation</h4>
                                    <p class="text-sm">Students shall present their POC or MVP projects to the jury panel. Presentation should include models, working videos and a physical prototype is preferable. (max: 4-5 slides) 6min/team(4min-pitch, 2min-Viva)</p>
                                </div>
                            </div>
							</a>
							<a href="/paper">
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" style="background:#FFD8CD;">
										<svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
										    <g fill="none" fill-rule="nonzero">
										        <path d="M54 56h-9a2 2 0 0 1-2-2V43a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2zm-9-13v10h9V43h-9z" fill="#FCAC96"/>
										        <path d="M41 50h-7V34h14v5h2v-5a2 2 0 0 0-2-2H34a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h7v-4z" fill="#FC8464"/>
										    </g>
										</svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile mb-8">Paper Presentation</h4>
                                    <p class="text-sm">Student should exhibit their research papers as powerpoint presentations to the jury panel. (max: 4-5slides) 6min per team (4min - pitch, 2min-viva) Note: You will have to tell about your paper in the next generated page.</p>
                                </div>
                            </div>
							</a>
							<a href="/product">
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" style="background:#C6FDF3;">
										<svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
										    <g fill="none" fill-rule="nonzero">
										        <circle fill="#1ADAB7" cx="38" cy="50" r="5"/>
										        <path d="M53 42h2v-8a1 1 0 0 0-1-1h-8v2h5.586l-8.293 8.293a1 1 0 1 0 1.414 1.414L53 36.414V42z" fill="#1ADAB7"/>
										        <path fill="#83F0DD" d="M34 41.414l3-3 3 3L41.414 40l-3-3 3-3L40 32.586l-3 3-3-3L32.586 34l3 3-3 3zM55.414 48L54 46.586l-3 3-3-3L46.586 48l3 3-3 3L48 55.414l3-3 3 3L55.414 54l-3-3z"/>
										    </g>
										</svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile mb-8">Product Pitching</h4>
                                    <p class="text-sm">Students are expected to enter a product of choice in the next form and they are supposed to show their marketing skills to better pitch the product on a forum of common users. Note: you will have to enter your product of choice in the next page	</p>
                                </div>
                            </div>
							</a>
							<a href="/ideathon">
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" style="background:#E0E1FE;">
										<svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
										    <g fill="none" fill-rule="nonzero">
										        <path d="M41 42h-7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1zM41 55h-7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1z" fill="#4950F6"/>
										        <path fill="#8D92FA" d="M45 34h10v2H45zM45 39h10v2H45zM45 47h10v2H45zM45 52h10v2H45z"/>
										    </g>
										</svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile mb-8">Ideathon</h4>
                                    <p class="text-sm">
										Ideathon will be conducted in 3 rounds namely "Ideathon Spirit" for problem identification, definition and analysis, Solution Phase for solution proposal and solution development, Final phase where the first two rounds are consolidated and decision to be made by the jury panel.
										<br>
										Theme: Open Innovation in sustainable development goals. problem statements can also be chosen on the spot.
									</p>
                                </div>
                            </div>
							</a>
						</div>
                    </div>
                </div>
            </section>


			<section class="newsletter section text-light">
                <div class="container-sm">
                    <div class="newsletter-inner section-inner">
                        <div class="newsletter-header text-center">
                            <h2 class="section-title mt-0">Happy Tech-ing!</h2>
                            <!-- <p class="section-paragraph">Get in touch with us, by providing your Email Below.</p> -->
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="{% static 'Js/main.min.js'%}"></script>
</body>
</html>
