{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<div class="formbold-main-wrapper">
    <title>Product Pitching</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
</head>
<body>
  {%if err%}
  <div class="errbox">
    <p>{{err}}</p>
  </div>
  {%endif%}
        <div class="formbold-form-wrapper m-10 p-10">
          <div class="header-content">
                <img src="{% static 'images/logo.svg'%}" class="logo mx-12">
                <div class="cont">
                <p><b>Student Research Council</b></p>
                <p><u>Product Pitching Registration</u></p>
                </div>
          </div>

          <form method="POST" class="m-10 form">
            {%csrf_token%}
            <div class="formbold-input-group">
              <label for="name" class="formbold-form-label">Product Name</label>
              <input
                type="text"
                name="pname"
                id="name"
                placeholder="Enter your product name"
                class="formbold-form-input p-10"
                required
              />
            </div>
            <div class="formbold-input-group teamparent">
                <label for="email" class="formbold-form-label">*Member 1</label>
                <input
                  type="text"
                  name="mem1"
                  id="email"
                  placeholder="Team Member Name"
                  class="formbold-form-input"
                  required
                  
                />

                <label for="email" class="formbold-form-label">Roll No (eg: 23BXXYYY)</label>
                <input
                  type="text"
                  name="roll1"
                  id="email"
                  placeholder="Team Member Name (eg: 23BAD***)"
                  class="formbold-form-input rolln1"
                  required
                  
                />

                <label for="email" class="formbold-form-label"  style="margin-top: 20px;"> Member 2(optional) </label>
                <input
                    type="text"
                    name="mem2"
                    id="email"
                    placeholder="Team Member Name"
                    class="formbold-form-input"
                />
                <label for="email" class="formbold-form-label">Roll No (eg: 23BXXYYY)</label>
                <input
                  type="text"
                  name="roll2"
                  id="email"
                  placeholder="Team Member Name (eg: 23BAD***)"
                  class="formbold-form-input rolln2"
                  
                />
                <label for="email" class="formbold-form-label">Contact No (1 common for a team)</label>
                <input
                  type="number"
                  name="contact"
                  id="email"
                  placeholder="Contact No"
                  class="formbold-form-input"
                  required
                  
                />
            <div class="formbold-input-group">
              <label class="formbold-form-label">
                Tell us about your Product*
              </label>
              <textarea name="abstract" class="formbold-form-input" 
              rows=7 minlength="20" maxlength=250 required > </textarea>
      
            <button class="formbold-btn">Submit</button>
          </form>
        </div>
      </div>
       
<script>
   form = document.querySelector('.form')
form.addEventListener('submit', (e)=>{
  e.preventDefault();  
  var rollno1 = document.querySelector(".rolln1").value
  var rollno2 = document.querySelector(".rolln2").value

  var form = document.querySelector('.form')

  var validator = /^\d{2}[a-zA-Z]{3}\d{3}$/


  if (!validator.test(rollno1))
  {
    alert("Do Not Enter 7276 in the roll, Enter in the format 23BADXXX")
  }
  else if (!validator.test(rollno2))
  {
    console.log(rollno2)
    alert("Do Not Enter 7276 in the roll, Enter in the format 23BADXXX")
  }
  
  else
  {
    form.submit()
  }
})




</script>
</body>
</html>
